In [1]:
# importando bibliotecas conexão PDGT
import json
import argparse
import subprocess
import boto3
import time
from pyathena import connect
import pandas.io.sql as sqlio
import sys
from ydata_profiling import ProfileReport
from botocore import UNSIGNED
from botocore.config import Config
import boto3.session
from botocore import exceptions
from scipy.stats import chi2_contingency

In [2]:
#importando bibliotecas padrão
import pandas as pd
from datetime import datetime
from validate_docbr import CPF
import matplotlib.pyplot as plt

# importando pyspark
from pyspark.sql import SparkSession
import pyspark

In [3]:
# setting the PySpark enrivonment variables
import os
path = "/home/lucasmateus/dbt-projects/spark"
os.environ['SPARK_HOME'] = path
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64/"
# os.environ['PYSPARK_SUBMIT_ARGS'] = "--jars /home/lucasmateus/dbt-projects/spark/jars/athena-jdbc-3.1.0-with-dependencies.jar pyspark-shell"
#os.path.join("C:", "Users", "lucasmateus", "Documents", "Spark")
# os.path.join("/home", "lucasmateus", "dbt-projects", "spark")
# "/home/lucasmateus/dbt-projects/spark"
# Set PYSPARK_SUBMIT_ARGS
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--master local[*] --driver-class-path "C:\\Users\\lucasmateus\\Documents\\Spark\\bin" pyspark-shell'
os.environ['PYSPARK_PYTHON'] = 'python'

In [4]:
# Initialize SparkSession with the downloaded Athena JDBC driver JAR
spark = SparkSession.builder \
    .appName("AthenaIntegration") \
    .config("spark.jars", "/home/lucasmateus/dbt-projects/spark/jars/athena-jdbc-3.1.0-with-dependencies.jar") \
    .config("spark.driver.extraClassPath", "/home/lucasmateus/dbt-projects/spark/jars/athena-jdbc-3.1.0-with-dependencies.jar") \
    .config("spark.executor.extraClassPath", "/home/lucasmateus/dbt-projects/spark/jars/athena-jdbc-3.1.0-with-dependencies.jar") \
    .getOrCreate()

24/02/29 14:40:11 WARN Utils: Your hostname, LUCAS-MATEUS-DADOS resolves to a loopback address: 127.0.1.1; using 172.27.79.206 instead (on interface eth0)
24/02/29 14:40:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/02/29 14:40:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
# Define Athena-related parameters
athena_bucket = "todos-athena-us-east-1"
athena_tmp_folder = f"s3://{athena_bucket}/"

# def execute_athena_query(query):
#     # Use SparkSession to create DataFrame directly from Athena query
#     df = spark.read \
#         .format("jdbc") \
#         .option("url", "jdbc:awsathena://athena.us-east-1.amazonaws.com:443") \
#         .option("AwsCredentialsProviderClass", "com.simba.athena.amazonaws.auth.DefaultAWSCredentialsProviderChain") \
#         .option("S3OutputLocation", athena_tmp_folder) \
#         .option("query", query) \
#         .load()
#     return df

# # Example query
# query = """
# select * from pdgt_amorsaude_backoffice.fl_unidades limit 1
# """

# # Execute Athena query and get result as Spark DataFrame
# df = execute_athena_query(query)

# # Show the DataFrame schema and some sample data
# df.printSchema()
# df.show()

In [6]:
query = """
select * from pdgt_sandbox_lucasmateus.fl_projeto_shrk
"""

In [7]:
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:awsathena://athena.us-east-1.amazonaws.com:443") \
    .option("dbtable", query) \
    .option("user", "AKIAZYLZSJI6PS3S7SG5") \
    .option("password", "J9ZumMRy7Y+PbUFxpUbXijR5D6qBaKpsao4J7Q8y") \
    .option("aws_credentials_provider_class", "com.simba.athena.amazonaws.auth.DefaultAWSCredentialsProviderChain") \
    .load()

Py4JJavaError: An error occurred while calling o38.load.
: java.sql.SQLException: No suitable driver
	at java.sql/java.sql.DriverManager.getDriver(DriverManager.java:298)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$2(JDBCOptions.scala:109)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:109)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:41)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:34)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:346)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [ ]:
df.head()

In [ ]:
# spark = SparkSession.builder.appName("Pandas to Spark DataFrame").getOrCreate()

## TESTE CÓDIGO COPILOT - NAO TESTEI AINDA
# from pyspark.sql import SparkSession

# spark = SparkSession \
#     .builder \
#     .appName("Python Spark SQL basic example") \
#     .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.3") \
#     .getOrCreate()

# spark._jsc.hadoopConfiguration().set("fs.s3a.access.key", "YOUR_ACCESS_KEY")
# spark._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "YOUR_SECRET_KEY")
# spark._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "s3.amazonaws.com")

# athena_query = """
# SELECT * FROM your_database.your_table
# """

# df = spark.read \
#     .format("jdbc") \
#     .option("url", "jdbc:awsathena://AwsRegion=your_region;S3OutputLocation=s3://your_bucket/query_results/") \
#     .option("driver", "com.simba.athena.jdbc.Driver") \
#     .option("query", athena_query) \
#     .load()

# df.show()

In [ ]:
class CustomException(Exception):
    pass

json_manifest_dbt = "target/manifest.json"
athena_bucket = "todos-athena-us-east-1"
athena_tmp_folder = f"s3://{athena_bucket}/"

def execute_athena_sql(query):
    client = boto3.client('athena', region_name='us-east-1')
    queryStart = client.start_query_execution(
    QueryString = query,
    ResultConfiguration = { 'OutputLocation': athena_tmp_folder})
    queryExecution = client.get_query_execution(QueryExecutionId=queryStart['QueryExecutionId'])
    while queryExecution['QueryExecution']['Status']['State'] in ('RUNNING', 'QUEUED'):
        time.sleep(5)
        queryExecution = client.get_query_execution(QueryExecutionId=queryStart['QueryExecutionId'])


def execute_athena_query(query):
    cursor = connect(s3_staging_dir=athena_tmp_folder,
                    region_name="us-east-1").cursor()
    cursor.execute(query)
    colls=','.join(str(f"{e[0]}") for e in cursor.description)
    results=pd.DataFrame(list(cursor), columns=colls.split(","))
    return results

In [ ]:
df = execute_athena_query(query)

:

In [ ]:
spark_df = spark.createDataFrame(df)

In [ ]:
# Initialize SparkSession
spark = SparkSession.builder \
    .appName("AthenaIntegration") \
    .config("spark.jars","https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.33.1003/AthenaJDBC42-2.0.33.jar") \
    .getOrCreate()

json_manifest_dbt = "target/manifest.json"
athena_bucket = "todos-athena-us-east-1"
athena_tmp_folder = f"s3://{athena_bucket}/"

def execute_athena_sql(query):
    client = boto3.client('athena', region_name='us-east-1')
    queryStart = client.start_query_execution(
        QueryString=query,
        ResultConfiguration={'OutputLocation': athena_tmp_folder})
    queryExecution = client.get_query_execution(QueryExecutionId=queryStart['QueryExecutionId'])
    while queryExecution['QueryExecution']['Status']['State'] in ('RUNNING', 'QUEUED'):
        time.sleep(5)
        queryExecution = client.get_query_execution(QueryExecutionId=queryStart['QueryExecutionId'])

def execute_athena_query(query):
    # Use SparkSession to create DataFrame directly from Athena query
    df = spark.read \
        .format("jdbc") \
        .option("url", "jdbc:awsathena://athena.us-east-1.amazonaws.com:443") \
        .option("AwsCredentialsProviderClass","com.simba.athena.amazonaws.auth.DefaultAWSCredentialsProviderChain") \
        .option("S3OutputLocation",athena_tmp_folder) \
        .option("query","select 1 as test") \
        .load()
    return df

# Example query
query = """
select * from pdgt_amorsaude_backoffice.fl_unidades limit 1
"""

# Execute Athena query and get result as Spark DataFrame
df = execute_athena_query(query)

# Now you can use df as a Spark DataFrame for further processing
        # .option("dbtable", "(" + query + ")") \
        # .option("aws_credentials_provider_class", "com.simba.athena.amazonaws.auth.PropertiesFileCredentialsProvider") \
        # .option("s3_staging_dir", athena_tmp_folder) \
        # .option("query_timeout", "300") \

In [ ]:
df_tlm = pd.read_csv("/home/lucasmateus/dbt-projects/projetos_lucas/crm/modelo_campanha/extracoes_hub/telemed_dezembro.csv")

In [ ]:
df_tlm.head()

,Destinatário,ID do hub,ID da campanha de e-mail,Subtipo,Assunto,Enviado às (seu fuso horário),Motivo do não envio,Mensagem não enviada,Motivo da rejeição,Mensagem rejeitada,Enviados,Entregue,Suprimido,Recusado,Rejeição,Relatório de spam,Aberto,Clicado,Assinatura cancelada
0,carloshenrique07@gmail.com,5338832,284543000,NaN,AmorSaúde - Telemedicina - Conheça as áreas de...,2023-12-01 13:23:29,NaN,NaN,NaN,NaN,True,True,False,False,False,False,True,False,False
1,rayanne.soaresbe@gmail.com,5338832,284543000,NaN,AmorSaúde - Telemedicina - Conheça as áreas de...,2023-12-01 13:23:42,NaN,NaN,NaN,NaN,True,True,False,False,False,False,True,False,False
2,vivianemascena232@gmail.com,5338832,284543000,NaN,AmorSaúde - Telemedicina - Conheça as áreas de...,2023-12-01 13:18:47,NaN,NaN,NaN,NaN,True,True,False,False,False,False,True,False,False
3,ceicafranca9@gmail.com,5338832,284543000,NaN,AmorSaúde - Telemedicina - Conheça as áreas de...,2023-12-01 13:20:09,NaN,NaN,NaN,NaN,True,True,False,False,False,False,True,False,False
4,marlygonzaga@hotmail.com,5338832,284543000,NaN,AmorSaúde - Telemedicina - Conheça as áreas de...,2023-12-01 13:19:42,NaN,NaN,NaN,NaN,True,True,False,False,False,False,True,False,False

In [ ]:
df_tlm.columns = [col.lower() for col in df_tlm.columns]
df_tlm.isna().mean()

destinatário                     0.00000
id do hub                        0.00000
id da campanha de e-mail         0.00000
subtipo                          1.00000
assunto                          0.00000
enviado às (seu fuso horário)    0.00000
motivo do não envio              1.00000
mensagem não enviada             1.00000
motivo da rejeição               0.99318
mensagem rejeitada               0.99318
enviados                         0.00000
entregue                         0.00000
suprimido                        0.00000
recusado                         0.00000
rejeição                         0.00000
relatório de spam                0.00000
aberto                           0.00000
clicado                          0.00000
assinatura cancelada             0.00000
dtype: float64

In [ ]:
df_tlm = df_tlm.drop(columns=['id do hub', 'id da campanha de e-mail', 'subtipo', 'assunto', 'enviado às (seu fuso horário)', 'motivo do não envio', \
                               'mensagem não enviada', 'suprimido', 'recusado'])
df_tlm[['motivo da rejeição', 'mensagem rejeitada']] = df_tlm[['motivo da rejeição', 'mensagem rejeitada']].fillna('OK')
df_tt = df_tlm[(df_tlm['motivo da rejeição'] == 'OK') | (df_tlm['mensagem rejeitada'] == 'OK')]
df_tt.isna().mean()

destinatário            0.0
motivo da rejeição      0.0
mensagem rejeitada      0.0
enviados                0.0
entregue                0.0
rejeição                0.0
relatório de spam       0.0
aberto                  0.0
clicado                 0.0
assinatura cancelada    0.0
dtype: float64

In [ ]:
df_tt =df_tt.drop(columns=['motivo da rejeição', 'mensagem rejeitada'])

,destinatário,enviados,entregue,rejeição,relatório de spam,aberto,clicado,assinatura cancelada
0,carloshenrique07@gmail.com,True,True,False,False,True,False,False
1,rayanne.soaresbe@gmail.com,True,True,False,False,True,False,False
2,vivianemascena232@gmail.com,True,True,False,False,True,False,False
3,ceicafranca9@gmail.com,True,True,False,False,True,False,False
4,marlygonzaga@hotmail.com,True,True,False,False,True,False,False

In [ ]:
df_tt

,destinatário,enviados,entregue,rejeição,relatório de spam,aberto,clicado,assinatura cancelada
0,carloshenrique07@gmail.com,True,True,False,False,True,False,False
1,rayanne.soaresbe@gmail.com,True,True,False,False,True,False,False
2,vivianemascena232@gmail.com,True,True,False,False,True,False,False
3,ceicafranca9@gmail.com,True,True,False,False,True,False,False
4,marlygonzaga@hotmail.com,True,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...
329024,glauciakruger76@gmail.com,True,True,False,False,True,False,False
329025,ameliajandira00@gmail.com,True,True,False,False,True,False,False
329026,michelesilva.mh48@gmail.com,True,True,False,False,True,False,False
329027,elainegoncalves100297@gmail.com,True,True,False,False,True,False,False
329028,eedineiaf@gmail.com,True,True,False,False,True,False,False