In [2]:
# importanto bibliotecas
import pandas as pd
import psycopg2

#pacote de validação de email
from validate_email  import validate_email

In [3]:
# conexão redshift 
connection = psycopg2.connect(dbname="dw_amorsaude",

                  user="lucasmateus",

                  password="df93aS@aK0sd",

                  host ="amorsaude-cluster-redshift.cmc4ev2oyczd.us-east-1.redshift.amazonaws.com",

                  port = 5439)

In [4]:
# definição queries

query_total =  """select * from stg_pacientes
where sysdate >= '2023-01-01'"""

In [5]:
# setando o dataframe completo

#df = pd.read_sql_query(query_total,con=connection)

In [6]:
# setando o df a partir do arquivo csv

csv_path = '/home/lucasmateus/dbt-projects/projetos_lucas/validacao_email/base_pacientes_email.csv'

df = pd.read_csv(csv_path)

In [7]:
df

,id,nome_paciente,email
0,59202238,Nicolly Safira De Oliveira Souza,NaN
1,63956854,Francisca De Fatima Dourado Cardozo,fcadourado123@gmail.com
2,62168981,Samara Julia Pinheiro Do Nascimento,NaN
3,7025,Elizangela Gambeta,sdflola@hotmail.com
4,65,Rauni Lima Gonçalves,robertadepaula1996@hotmail.com
...,...,...,...
18008515,65321125,Ketley Bruna De Oliveira Andrade,NaN
18008516,65334714,Marli Rosa De Jesus,NaN
18008517,65343163,Edson Jacintho De Almeida Filho,NaN
18008518,65359370,NAOMI SIMIAO DIAS,pollysiamao@gmail.com
18008519,65377436,Eliane Alves Da Silva,eli1234alves1@gmail.com

In [8]:
# validando os registros de email

valid_emails = []

for index, row in df.iterrows():
    email = row['email']
    if validate_email(email):
        valid_emails.append(index)

:

:

In [ ]:
invalid_emails = []

for index, row in df.iterrows():
    email = row['email']
    if not validate_email(email):
        invalid_emails.append(index)

invalid_df = df.loc[invalid_emails]

In [ ]:
# exportando df com emails invalidos para feegow arrumar
emails_invalidos = 'base_emails_invalidos.xlsx'

invalid_df.to_excel(emails_invalidos, index=False)